<section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bem vindo ao sistema de veículos</h1>
        
        <p class="lead text-body-secondary">
            Sou Danilo Aparecido, professor na Digital Innovation One (DIO), e nesta aula, estamos mergulhando no fascinante mundo do ERB do Rails. Aqui, vocês vão aprender a transformar ideias em layouts impressionantes, explorando a flexibilidade e o poder do Rails para criar interfaces dinâmicas. Este exemplo é apenas um vislumbre do que podemos alcançar juntos. Vamos em frente!
        </p>

        <p>
          <a href="/carros" class="btn btn-primary my-2">Ver os carros</a>
        </p>
      </div>
    </div>
</section>