<h1>Editing fornecedores endereco</h1>

<%= render "form", fornecedores_endereco: @fornecedores_endereco %>

<br>

<div>
  <%= link_to "Show this fornecedores endereco", fornecedor_fornecedores_endereco_path(@fornecedor, @fornecedores_endereco) %> |
  <%= link_to "Back to fornecedores endereco", fornecedor_fornecedores_enderecos_path(@fornecedor) %>
</div>
