<h1>New fornecedores endereco</h1>

<%= render "form", fornecedores_endereco: @fornecedores_endereco %>

<br>

<div>
  <%= link_to "Back to fornecedores endereco", fornecedor_fornecedores_enderecos_path(@fornecedor) %>
</div>
