<h1> Segue os dados do administrador </h1>

<ul>
    <li><strong>ID:</strong><%= @administrador.id %></li>
    <li><strong>Nome:</strong><%= @administrador.nome %></li>
    <li><strong>Email:</strong><%= @administrador.email %></li>
    <li><strong>Eenha:</strong><%= @administrador.senha %></li>
</ul>
