<section class="text-center container">
    <h1>Fazer login no sistema v4</h1>

    <hr>

    <div style="text-align:left">
        
        <form action="/login" method="POST">
            <div><strong>Email</strong>: <input type="text" name="email" class="form-control"> </div>
            <div><strong>Senha</strong>: <input type="password" name="senha" class="form-control"></div>
            <hr>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>

    </div>
</section>
